APP_ENV=local
POSTGRES_DB=site_checker
POSTGRES_USER=site_checker
POSTGRES_PASSWORD=change-me
RABBITMQ_USER=site_checker
RABBITMQ_PASSWORD=change-me
API_KEY=change-me
ALERT_WEBHOOK_URL=
SEED_DEFAULT_LINKS=false
SEED_URLS_FILE=
